/*Make everything use border-box sizing for simplicity*/
html{font-size: 16px;}
div,ul,p,li,form,fieldset{
	box-sizing: border-box;
}

body,div,p,ul,li,header,form,fieldset{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}
/*此样式用于控制页面模块的显示与隐藏*/
.hideItem{display:none;}

/*定义登录相关的样式*/
#loginEnable {display: inline-block;border: 1px solid #4d90fe;padding:.2rem .5rem; border-radius: .2rem;color: white;background:#4d90fe;}
#welInfo,#loginOut {display:none;}
.isLogin #loginEnable {display: none;}
.isLogin #welInfo {display: inline-block;}
.isLogin #loginOut{display: inline-block;height:1.1rem;width:1.1rem;margin:.2rem 0 0 .3rem;}


.loginshow{width:100%;display:flex;justify-content: center;position: absolute;top:6rem;left:0;z-index: 1000;}

.loginshow fieldset{width:320px; border-radius:1rem; background:white;}
.loginshow h3{font-weight: normal;font-size: 1.1rem; color: rgba(82, 80, 79, 0.67);margin-left:2rem;}
.btn-group {display: flex;align-content:center;margin:.5rem 1rem;border: 2px solid #e1e1e1;border-radius: .4rem;}
.btn-group span {display:inline-block;margin:0.5rem .5rem .2rem;line-height: 20px;height:20px;color:red;}
.loginshow input {display:inline-block;width:90%;font-size: 1rem;padding:.5rem 0;border: 0;text-indent: 1.2rem;}
/* .user-id {background: url(../img/login-locked-icon.png) no-repeat 15px center;} */
/* .user-pwd{background: url(../img/login-key-icon.png) no-repeat 15px center;} */
.login-btn{background:#dc3c00;color: white;text-indent: 0!important; border-radius:.4rem;}

/*主页面内容样式*/
.mcontent {font-family: sans-serif;z-index: 1;min-height: 500px;}


/*主页面头样式*/
.flexheader{display:flex;align-items:center;justify-content:space-between; background: yellowgreen;padding:.3rem 0;}
.toRight{margin-right:1.5rem;}
.toLeft {margin-left:1.5rem;}

/*修改按键的默认样式*/
.off-canvas-launcher {
	-webkit-appearance: none;
	-moz-appearance: none;
	border: 1px solid #297D94;
	border-radius: 4px;
	background: none;
	padding: 4px 8px;
	position: relative;
}

/*add some interactivity when the button is clicked*/
.off-canvas-launcher:active {
	top: 1px;
}

/*以下定义了侧边栏样式*/
/*定义遮罩层*/
.shadeLayer{
	position: fixed;
	display: none;
	z-index: 3;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-color: rgba(0,0,0,0.2);
}

.showItem {display:block;}
.nav-link {
	display: flex;
	align-items: center;
	justify-content:flex-start;
	padding:.5rem 2rem;
	color: #ddd;
	min-height: 2rem;
	text-decoration: none;
	transition: border, background-color .35s;
}
.nav-link span{margin-left:2rem;display: inline-block;}
.nav-link + .nav-link {
	border-top: 1px solid #aaa;
}
#addAction{display: none;}
.nav-link:last-child{border-bottom: 1px solid #aaa;}
.nav-link:hover {
	background-color: #4d90fe;
	color: #fff;
}

/*add a transition for the left and transform properties and a duration for transitions*/
.navigation-menu {
	background-color: #4285f4;
	transition: left, transform .4s;
}

.slefInfo{background: white;border-bottom: 0 dashed #4285f4;border-right: .1rem solid #4285f4;padding:.3rem;text-align:center;}


.photoInfo{width:120px;height:120px;border: 2px solid white;border-radius: 50%; }
.font2rem {font-size: 1rem;font-weight: bold; }
.motto {margin:.5rem 0 .5rem 0;}

.item{border-top: 0.1rem dashed gray;padding-top:.3rem }
.item ul{display: flex; justify-content: space-around;}
.item img{height:25px; width:25px;}
/*for smaller screens that support JavaScript by default hide the nav off screen*/
@media (min-width: 200px) {
	 .navigation-menu {
		position: fixed;
		z-index: 10;
		top: 0;
		bottom: 0;
		width: 200px;
		left: -200px;
	}
	/*when the menu button is clicked move the nav back on screen*/
	 .showItem+.navigation-menu {
		left: 0;
		transition: left .35s
	}
	 .csstransforms .navigation-menu {
		left: auto;
		transform: translateX(-200px);
	}
	 .csstransforms .OffCanvas-Active .navigation-menu {
		transform: translateX(0);
	}
	 .csstransforms3d .navigation-menu {
		left: auto;
		transform: translate3d(-200px, 0, 0);
	}
	 .csstransforms3d .OffCanvas-Active .navigation-menu {
		transform: translate3d(0, 0, 0);
	}
}

/*for larger screens set the nav to the left and give the main content extra margin to compensate for it*/
@media (min-width: 800px) {
	header {position: relative;margin-left: 200px;}	
/*	.loginshow{margin-left: 200px;}*/
    .flexheader {justify-content: flex-end;}
	.shadeLayer{display: none;}
	.navigation-menu {
		left: 0!important;
		transform: none!important;
	}
	.off-canvas-launcher {
		display: none;
	}
	.mcontent {
		position: relative;
		margin-left: 200px;
	}
}