.recontent{color:#1889C5;padding-bottom:2rem;}
.recontent>div{max-width:50rem;margin:0 auto;}
.recontent p {line-height:1.7rem;margin-top:0;-webkit-margin-after:.5rem;width:85%;}
.retitle {position: relative;margin-top:1rem;height:2.5rem;}
.retitle label{display: inline-block;position: relative;left:3.5rem;top:.5rem;font-size: 1.2rem;font-weight: bold;}
.bottomline{display: inline-block;position: absolute;left:1.6rem;bottom:.3rem;;width:80%;border: 1px solid #1889C5;}
.rediusline{display: inline-block;position: absolute;border: 2px solid #1889C5;border-radius: 50%;width: 2rem;height: 2rem;vertical-align:middle;}
.rediusline i{padding-top:.5rem;padding-left:.2rem;}
.rebody{margin-top: 1rem;margin-left: 1rem;}
.rebody .delInfo{margin-left:2.2rem;width:80%;} 
.rebody h4{margin: 0 0 .6rem 2.2rem;}
.rebody h4 span{padding-left:2rem;}
.rebody ul {margin:0 2rem;}
.rebody li::before{content:"※";font-weight:bold;padding-right:.3rem;}
.rebody li{list-style-type: none;padding:1px 0;}
.relist {margin-left:1.2rem;font-weight: bold;}
.relist li{list-style-type: none;padding:2px 0;}
.relist li span{padding-left:2rem;}