<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device-width,initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <meta name="keywords" content="github graphql API,graphql, closertb.site, doddle's blog">
    <meta name="discription" content="a frontend blog to record doddle technical life, 一个记录前端程序员成长的博客">
    <meta name="author" content="doddle,closertb@163.com">
    <title><%= htmlWebpackPlugin.options.title%></title>
  </head>
  <body>
    <div id="app" class="home"></div>
    <!-- 百度统计 -->
    <script src="https://hm.baidu.com/hm.js?d4b1cd36e22d08959f409336c0c57d98" defer></script>
    <script>
      navigator.serviceWorker && navigator.serviceWorker.register('/worker.js', {
        name: 'doddle-sw'
      }).then(() => {
        console.log('Service Worker 注册成功');
      });
    </script>
    <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
    <script src="https://cdn.bootcss.com/highlight.js/9.18.1/highlight.min.js"></script>
    <script src="https://cdn.bootcss.com/markdown-it/10.0.0/markdown-it.js"></script>
  </body>
</html>