:global {
  body {
    font: normal 16px "Microsoft Yahei", Futura, sans-serif;
    height: 100%;
    background-color: #fafafa;;
  }
  html, #app {
    height: 100%;
  }
  body,div, p, ul, li, h2, h3, h3, h4 {
    margin: 0;
    padding: 0;
  }
  h1,h2,h3,h4 {
    font-weight: normal;
  }

  a {
    text-decoration: none;
    &:hover {
      text-decoration: rgb(0, 0, 238);
    }
  }
}